<app-skill-card headline="Front-End Development">
  <app-skill skillName="HTML">
    <svg html-icon></svg>
  </app-skill>
  <app-skill skillName="CSS">
    <svg css-icon></svg>
  </app-skill>
  <app-skill skillName="TypeScript">
    <svg ts-icon></svg>
  </app-skill>
  <app-skill skillName="JavaScript">
    <svg js-icon></svg>
  </app-skill>
  <app-skill skillName="Angular">
    <svg angular-icon></svg>
  </app-skill>
  <app-skill skillName="NgRx">
    <svg ngrx-icon></svg>
  </app-skill>
  <app-skill skillName="Tailwind CSS">
    <svg tailwind-icon></svg>
  </app-skill>
  <app-skill skillName="Bootstrap">
    <svg bootstrap-icon></svg>
  </app-skill>
</app-skill-card>
