<article class="flex flex-col gap-1">
  <h4 class="text-lg sm:text-xl md:text-2xl font-bold text-primary-600">
    {{ experience.position }}
  </h4>
  <h5 class="text-base sm:text-lg md:text-xl font-semibold">
    {{ experience.company }}
  </h5>
  <p class="text-sm sm:text-base md:text-lg font-semibold text-primary-500">
    {{ experience.year }}
  </p>
  <ul class="list-disc flex flex-col gap-1 mt-1">
    @for (keypoint of experience.keypoints; track $index) {
    <li class="ml-5 font-medium text-gray-700 text-sm sm:text-base text-pretty">
      {{ keypoint }}
    </li>
    }
  </ul>
</article>
