<app-skill-card headline="Back-End Development">
  <app-skill skillName="Java">
    <svg java-icon></svg>
  </app-skill>
  <app-skill skillName="SQL">
    <svg sql-icon></svg>
  </app-skill>
  <app-skill skillName="Spring Boot">
    <svg spring-boot-icon></svg>
  </app-skill>
  <app-skill skillName="PostgreSQL">
    <svg postgresql-icon></svg>
  </app-skill>
  <app-skill skillName="MySQL">
    <svg mysql-icon></svg>
  </app-skill>
  <app-skill skillName="Firestore">
    <svg firestore-icon></svg>
  </app-skill>
  <app-skill skillName="MongoDB">
    <svg mongodb-icon></svg>
  </app-skill>
</app-skill-card>
