<footer class="w-full bg-primary-950 px-7 py-10">
  <div class="container mx-auto flex flex-col gap-y-9">
    <div class="flex flex-col gap-y-9">
      <div class="text-center flex flex-col gap-y-3">
        <p class="text-primary-200">
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Sequi amet
          tenetur est ut id corporis soluta aperiam, laudantium nihil mollitia.
        </p>
      </div>
      <nav class="text-center flex flex-col gap-y-3">
        <p class="text-primary-100 text-lg"><b>Explore</b></p>
        <ul class="text-primary-300 flex flex-col gap-y-2.5">
          <li><a routerLink="/home" class="">Home</a></li>
          <li>
            <a routerLink="/about-me">About</a>
          </li>
          <li>
            <a routerLink="/projects">Projects</a>
          </li>
          <li><a routerLink="/hire-me">Hire</a></li>
        </ul>
      </nav>
      <div class="text-center flex flex-col gap-y-3">
        <p class="text-primary-100 text-lg"><b>Get In Touch</b></p>
        <ul class="text-primary-300 flex flex-col gap-y-2.5">
          <li>
            <a href="mailto:albenbustamante@outlook.com">
              albenbustamante&#64;outlook.com
            </a>
          </li>
          <li><a href="https://wa.me/573165574868">+57 3165574868</a></li>
        </ul>
      </div>
    </div>
    <div class="text-center flex flex-col gap-y-1.5">
      <a
        href="https://github.com/AlbenBustamante/portfolio"
        class="text-primary-400"
        >Website made with <3 by me</a
      >
      <p class="text-primary-100">&copy; 2025 Alben Bustamante</p>
    </div>
  </div>
</footer>
