<nav class="h-dvh bg-primary-50 px-5 py-4 flex flex-col justify-between gap-5">
  <header class="flex flex-col items-center justify-center gap-1">
    <div class="size-36 rounded-full bg-gray-200 mb-2.5"></div>
    <h1 class="text-xl font-medium text-primary-700">Alben Bustamante</h1>
    <h2 class="font-medium text-primary-800">Web Developer</h2>
  </header>
  <ul class="flex flex-col justify-center h-full">
    <app-navbar-item headline="About me" />
    <app-navbar-item headline="Skills" />
    <app-navbar-item headline="Experience" />
    <app-navbar-item headline="Projecs" />
    <app-navbar-item headline="Certifications" />
  </ul>
  <footer class="flex justify-center items-center gap-7">
    <p>Language</p>
    <p>Dark Theme</p>
  </footer>
</nav>
