<form class="flex flex-col gap-5">
  <div class="flex flex-col gap-5 md:grid md:grid-cols-2 md:gap-7">
    <app-input label="Name" name="name" placeholder="Your name" />
    <app-input label="Email" name="email" placeholder="example@mail.com" />
  </div>
  <app-textarea
    label="Message"
    name="message"
    placeholder="Write your message here"
  />
  <div class="w-full flex items-center justify-between gap-7">
    <app-button>Clean</app-button>
    <app-button type="submit" class="w-full">Send Message</app-button>
  </div>
</form>
