<header
  class="w-full min-h-[calc(100dvh_-_5rem_-_0.75rem_*_2)] sm:min-h-[calc(100dvh_-_5rem_-_2rem)] md:min-h-[calc(100dvh_-_5rem_-_2.5rem)] border-4 border-primary-50 rounded-xl p-5 sm:p-6 flex items-center justify-center"
>
  <div class="flex max-sm:flex-col gap-9 size-full">
    <img
      src="https://img.freepik.com/premium-vector/default-avatar-profile-icon-social-media-user-image-gray-avatar-icon-blank-profile-silhouette-vector-illustration_561158-3396.jpg?semt=ais_incoming&w=740&q=80"
      alt="profile picture"
      class="rounded-full sm:w-1/3 sm:max-w-xs sm:h-auto aspect-square"
    />
    <div class="sm:w-2/3 flex flex-col gap-5 justify-center">
      <app-title headline="About me" />
      <p class="text-lg sm:text-xl text-primary-300 text-pretty">
        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Asperiores,
        sint natus, quam perspiciatis nihil nisi porro quod molestiae ratione
        ab, illum qui maiores. Officia atque adipisci fugiat non aperiam vero
        ratione deleniti doloremque optio repellat.
      </p>
    </div>
  </div>
</header>
