<section>
  <app-landing-subtitle headline="Skills" />
  <div class="flex flex-col gap-5">
    <app-skill-card headline="Programming Languages">
      <li><svg class="size-10 sm:size-11 md:size-12" java-icon></svg></li>
      <li><svg class="size-10 sm:size-11 md:size-12" js-icon></svg></li>
      <li><svg class="size-10 sm:size-11 md:size-12" ts-icon></svg></li>
      <li><svg class="size-10 sm:size-11 md:size-12" sql-icon></svg></li>
      <li><svg class="size-10 sm:size-11 md:size-12" html-icon></svg></li>
      <li><svg class="size-10 sm:size-11 md:size-12" css-icon></svg></li>
    </app-skill-card>
    <app-skill-card headline="Frameworks & Libraries">
      <li><svg class="size-10 sm:size-11 md:size-12" spring-icon></svg></li>
      <li><svg class="size-10 sm:size-11 md:size-12" angular-icon></svg></li>
      <li><svg class="size-10 sm:size-11 md:size-12" tailwind-icon></svg></li>
    </app-skill-card>
  </div>
</section>
