<app-card padding="sm">
  <article>
    <img
      [src]="project().thumbnail"
      alt="a project's screenshot"
      [loading]="loading()"
      class="aspect-video object-cover rounded-xl border-2 border-primary-700"
    />
    <h3
      class="border-b-2 border-primary-600 text-center text-xl sm:text-2xl text-primary-50 font-semibold py-2.5"
    >
      {{ project().title }}
    </h3>
    <app-project-card-content
      [description]="project().lang.description.en"
      [status]="project().status"
      [category]="project().category"
      [skills]="project().skills"
    />
    <footer class="pt-3 sm:pt-4 md:pt-5">
      <app-button
        label="View project"
        color="accent"
        rounded="3xl"
        [fluid]="true"
        [routerLink]="['.', project().id]"
      />
    </footer>
  </article>
</app-card>
