<section class="flex flex-col gap-7 w-full max-w-6xl mx-auto">
  <app-subtitle headline="Certificates" />
  <ul class="flex items-center justify-center cursor-default">
    <li
      class="px-5 py-2 text-primary-100 rounded-l-3xl duration-100"
      [ngClass]="
        store.filter.query() === 'featured'
          ? 'bg-primary-700'
          : 'bg-primary-800'
      "
      (click)="store.updateQuery('featured')"
    >
      Featured
    </li>
    <li
      class="px-5 py-2 text-primary-100 rounded-r-3xl duration-100"
      [ngClass]="
        store.filter.query() === 'all' ? 'bg-primary-700' : 'bg-primary-800'
      "
      (click)="store.updateQuery('all')"
    >
      Show All
    </li>
  </ul>
  <ul class="flex flex-col gap-y-7">
    @for (certificate of store.sortedCertificates(); track $index) {
    <app-certificate [certificate]="certificate" />
    }
  </ul>
</section>
