<form [formGroup]="form" (ngSubmit)="onSubmit()" class="flex flex-col gap-6">
  <app-input
    name="name"
    [item]="formLang?.fullName"
    autocomplete="name"
    [control]="form.controls.name"
  />
  <app-input
    name="email"
    type="email"
    [item]="formLang?.email"
    autocomplete="email"
    [control]="form.controls.email"
  />
  <app-input
    name="subject"
    [item]="formLang?.subject"
    [control]="form.controls.subject"
  />
  <app-text-area
    name="message"
    [item]="formLang?.message"
    [control]="form.controls.message"
  />
  <div class="w-full">
    <app-button
      [label]="store.loading() ? lang?.ctaSending : lang?.cta"
      color="accent"
      [disabled]="store.loading()"
      [fluid]="true"
      type="submit"
    />
  </div>
</form>
