<form [formGroup]="form" (ngSubmit)="onSubmit()" class="flex flex-col gap-6">
  <app-input
    name="name"
    label="Full Name"
    placeholder="E.g: John Doe"
    autocomplete="name"
    [control]="form.controls.name"
  />
  <app-input
    name="email"
    type="email"
    label="Email"
    placeholder="yourmail@example.com"
    autocomplete="email"
    [control]="form.controls.email"
  />
  <app-input
    name="subject"
    label="Subject"
    placeholder="Type your subject here"
    [control]="form.controls.subject"
  />
  <app-text-area
    name="message"
    label="Message"
    placeholder="Please, write your message here"
    [control]="form.controls.message"
  />
  <button
    type="submit"
    class="px-5 py-2 rounded-xl bg-accent-600 text-white text-sm sm:text-base cursor-pointer hover:text-accent-50 hover:bg-accent-500 active:bg-accent-700 duration-200 disabled:bg-accent-800"
    [disabled]="store.loading()"
  >
    {{ store.loading() ? "Sending message..." : "Send message" }}
  </button>
</form>
