<app-skill-card headline="Tools & Platforms">
  <app-skill skillName="Git">
    <svg git-icon></svg>
  </app-skill>
  <app-skill skillName="Docker">
    <svg docker-icon></svg>
  </app-skill>
  <app-skill skillName="Maven">
    <svg maven-icon></svg>
  </app-skill>
  <app-skill skillName="Gradle">
    <svg gradle-icon></svg>
  </app-skill>
  <app-skill skillName="npm">
    <svg npm-icon></svg>
  </app-skill>
  <app-skill skillName="pnpm">
    <svg pnpm-icon></svg>
  </app-skill>
  <app-skill skillName="Intellij">
    <svg intellij-icon></svg>
  </app-skill>
  <app-skill skillName="VSCode">
    <svg vscode-icon></svg>
  </app-skill>
  <app-skill skillName="Android Studio">
    <svg android-studio-icon></svg>
  </app-skill>
</app-skill-card>
