<div class="flex items-center justify-between gap-2">
  <app-social-button url="https://github.com/AlbenBustamante">
    <svg
      github-icon
      class="size-8 sm:size-9 md:size-10 fill-primary-300 hover:fill-accent-500 duration-200"
    ></svg>
  </app-social-button>
  <app-social-button url="https://linkedin.com/in/albenbustamante/">
    <svg
      linkedin-icon
      class="size-8 sm:size-9 md:size-10 fill-primary-300 hover:fill-accent-500 duration-200"
    ></svg>
  </app-social-button>
  <app-social-button url="https://discordapp.com/users/429028705533165580">
    <svg
      discord-icon
      class="size-8 sm:size-9 md:size-10 fill-primary-300 hover:fill-accent-500 duration-200"
    ></svg>
  </app-social-button>
  <app-social-button url="mailto:albenbustamante@outlook.com">
    <svg
      mail-icon
      class="size-8 sm:size-9 md:size-10 fill-primary-300 hover:fill-accent-500 duration-200"
    ></svg>
  </app-social-button>
  <app-social-button url="https://wa.me/573165574868">
    <svg
      whatsapp-icon
      class="size-8 sm:size-9 md:size-10 fill-primary-300 hover:fill-accent-500 duration-200"
    ></svg>
  </app-social-button>
</div>
