<app-card padding="sm">
  <article class="w-full max-w-xs">
    <header class="border-b-2 border-primary-600">
      <img
        src="https://images.unsplash.com/photo-1586672806791-3a67d24186c0?fm=jpg&q=60&w=3000&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxzZWFyY2h8Mnx8Y292ZXIlMjBhcnR8ZW58MHx8MHx8fDA%3D"
        alt="project cover photo"
        class="aspect-video object-cover rounded-t-2xl"
      />
      <h3
        class="text-center text-xl sm:text-2xl text-primary-50 font-semibold py-2"
      >
        Project Title
      </h3>
    </header>
    <div class="border-b-2 border-primary-600">
      <p class="text-primary-100 py-2 text-pretty text-sm sm:text-base">
        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Odio quo
        commodi provident obcaecati nulla ipsam. Cum sequi veniam quis odit hic
        aperiam numquam quos, quas inventore natus ullam illo consequatur.
      </p>
      <ul
        class="border-t border-primary-600 py-2 text-primary-300 flex items-center gap-x-2.5 text-xs sm:text-sm"
      >
        @for (skill of skills; track $index; let i = $index) {
        <li class="py-1 px-2 sm:px-2.5 bg-primary-700 rounded-xl">
          {{ skill }}
        </li>
        }
      </ul>
    </div>
    <footer
      class="pt-3 sm:pt-4 md:pt-5 text-primary-300 w-full flex items-center justify-between gap-3.5"
    >
      <button
        class="px-3.5 py-2 rounded-xl border border-primary-400 text-primary-100 hover:bg-primary-400 hover:text-primary-900 duration-200 cursor-pointer flex items-center justify-center gap-2"
      >
        <svg github-icon class="size-5"></svg>
        Source code
      </button>
      <app-open-live-demo />
    </footer>
  </article>
</app-card>
