@if (href()) {
  <a
    [href]="href()"
    [target]="target()"
    class="flex items-center justify-center gap-x-2.5 px-6 text-sm sm:text-base cursor-pointer duration-500"
    [ngClass]="design"
  >
    {{ label() ?? "" }}
  </a>
} @else if (fragment()) {
  <a
    routerLink=""
    [fragment]="fragment()"
    [target]="target()"
    class="flex items-center justify-center gap-x-2.5 px-6 text-sm sm:text-base cursor-pointer duration-500"
    [ngClass]="design"
  >
    {{ label() ?? "" }}
  </a>
} @else {
  <button
    [type]="type()"
    [disabled]="disabled()"
    class="flex items-center justify-center gap-x-2.5 px-6 text-sm sm:text-base cursor-pointer duration-500"
    [ngClass]="design"
    (click)="disabled() ? undefined : onClick.emit()"
  >
    {{ label() ?? "" }}
    <ng-content />
  </button>
}
