<app-bullet-content
  [headline]="experience().occupation"
  [subheadline]="experience().company"
  [year]="experience().year"
  [border]="border()"
>
  <p class="text-primary-200 text-sm sm:text-base">
    {{ experience().description }}
  </p>
  <ul class="flex items-center gap-x-3.5 gap-y-4 flex-wrap">
    @for (skill of experience().skills; track $index) {
    <li
      class="text-primary-300 text-xs sm:text-sm px-3.5 py-2 bg-primary-900 rounded-3xl ring ring-primary-800 cursor-default hover:bg-primary-800 hover:ring-primary-700 duration-300"
    >
      {{ skill }}
    </li>
    }
  </ul>
</app-bullet-content>
