<header class="text-center md:text-left flex flex-col gap-y-3">
  <div class="flex flex-col gap-y-1.5">
    <h6 class="text-primary-50 text-lg">
      <b>Alben Bustamante</b>
    </h6>
    <p class="text-primary-200">Software Developer</p>
  </div>
  <div class="w-full flex items-center justify-center md:justify-start gap-x-5">
    <app-footer-social-link [url]="github.url">
      <svg github-icon></svg>
    </app-footer-social-link>
    <app-footer-social-link [url]="linkedIn.url">
      <svg linkedin-icon></svg>
    </app-footer-social-link>
    <app-footer-social-link [url]="discord.url">
      <svg discord-icon></svg>
    </app-footer-social-link>
  </div>
</header>
