<div
  #container
  class="flex"
  [ngClass]="{
    'items-center justify-between gap-x-2': axis() === 'x',
    'flex-col gap-y-7': axis() === 'y',
  }"
>
  <app-social-button [socialMedia]="github" [axis]="axis()">
    <svg
      github-icon
      class="size-8 sm:size-9 md:size-10 fill-primary-300 hover:fill-accent-600 duration-200"
    ></svg>
  </app-social-button>
  <app-social-button [socialMedia]="linkedIn" [axis]="axis()">
    <svg
      linkedin-icon
      class="size-8 sm:size-9 md:size-10 fill-primary-300 hover:fill-accent-600 duration-200"
    ></svg>
  </app-social-button>
  <app-social-button [socialMedia]="discord" [axis]="axis()">
    <svg
      discord-icon
      class="size-8 sm:size-9 md:size-10 fill-primary-300 hover:fill-accent-600 duration-200"
    ></svg>
  </app-social-button>
  <app-social-button [socialMedia]="email" [axis]="axis()">
    <svg
      mail-icon
      class="size-8 sm:size-9 md:size-10 fill-primary-300 hover:fill-accent-600 duration-200"
    ></svg>
  </app-social-button>
  <app-social-button [socialMedia]="whatsApp" [axis]="axis()">
    <svg
      whatsapp-icon
      class="size-8 sm:size-9 md:size-10 fill-primary-300 hover:fill-accent-600 duration-200"
    ></svg>
  </app-social-button>
</div>
