<main class="container px-7 py-10 flex flex-col gap-10 mx-auto">
  <header class="flex flex-col gap-5">
    <app-title headline="Projects" />
    <p class="text-lg sm:text-xl text-primary-300">
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Libero ex
      architecto perferendis eveniet id. Accusamus quod repellat deleniti
      adipisci asperiores explicabo enim, quae magnam sed nisi sunt dolorem
      suscipit quasi.
    </p>
  </header>
  <section class="flex flex-col gap-y-7 items-center">
    <app-subtitle headline="Featured Projects" />
    <ul
      class="flex items-center gap-x-16 lg:gap-x-12 w-full max-w-md lg:container mx-auto overflow-x-auto snap-x snap-mandatory py-11 px-5 sm:px-6 md:px-7 carousel"
    >
      @for (project of store.featured(); track $index) {
      <li class="flex-[0_0_100%] snap-center carousel-item">
        <app-project-card [project]="project" axis="x" />
      </li>
      }
    </ul>
  </section>
  <section class="flex flex-col gap-y-7 items-center">
    <app-subtitle headline="All My Projects" />
    <div
      class="w-full grid grid-cols-[repeat(auto-fit,_minmax(18rem,_1fr))] place-items-center gap-x-16 lg:gap-x-12 gap-y-12 px-5 sm:px-6 md:px-7"
    >
      @for (project of store.noFeatured(); track $index) {
      <app-project-card class="w-full max-w-88" [project]="project" />
      }
    </div>
  </section>
</main>
