<main class="container px-7 py-10 flex flex-col gap-10 mx-auto">
  <header class="flex flex-col gap-5">
    <app-title headline="Projects" />
    <p class="text-lg sm:text-xl text-primary-300">
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Libero ex
      architecto perferendis eveniet id. Accusamus quod repellat deleniti
      adipisci asperiores explicabo enim, quae magnam sed nisi sunt dolorem
      suscipit quasi.
    </p>
  </header>
  <section class="flex flex-col gap-y-7 items-center">
    <app-subtitle headline="Featured Projects" />
    <app-project />
  </section>
  <section></section>
</main>
