<app-container>
  <header class="flex flex-col gap-5">
    <app-title headline="Projects" />
    <!--p class="text-lg sm:text-xl text-primary-300">
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Libero ex
      architecto perferendis eveniet id. Accusamus quod repellat deleniti
      adipisci asperiores explicabo enim, quae magnam sed nisi sunt dolorem
      suscipit quasi.
    </p-->
  </header>
  <app-projects-section
    headline="Featured Work"
    [projects]="store.featured()"
  />
  <app-projects-section
    headline="Experiments"
    [projects]="store.noFeatured()"
  />
</app-container>
