<section class="flex flex-col gap-7">
  <app-subtitle headline="Skills & Technologies" />
  <div
    class="w-full flex items-center justify-center gap-x-5 gap-y-3.5 flex-wrap"
  >
    <app-skill skillName="Java"></app-skill>
    <app-skill skillName="JavaScript"></app-skill>
    <app-skill skillName="TypeScript"></app-skill>
    <app-skill skillName="SQL"></app-skill>
    <app-skill skillName="HTML"></app-skill>
    <app-skill skillName="CSS"></app-skill>
    <app-skill skillName="Dart"></app-skill>
    <app-skill skillName="Spring Boot"></app-skill>
    <app-skill skillName="Angular"></app-skill>
    <app-skill skillName="Tailwind CSS"></app-skill>
    <app-skill skillName="Flutter"></app-skill>
    <app-skill skillName="Bootstrap"></app-skill>
    <app-skill skillName="PostgreSQL"></app-skill>
    <app-skill skillName="MySQL"></app-skill>
    <app-skill skillName="Firestore"></app-skill>
    <app-skill skillName="MongoDB"></app-skill>
    <app-skill skillName="Git"></app-skill>
    <app-skill skillName="Docker"></app-skill>
  </div>
</section>
