<section class="flex flex-col gap-7">
  <app-subtitle headline="Skills & Technologies" />
  <div
    class="grid grid-cols-[repeat(auto-fit,_minmax(19rem,_1fr))] gap-x-14 gap-y-11 px-2 sm:px-1 md:px-0"
  >
    <app-backend-skills />
    <app-frontend-skills />
    <app-skill-card
      class="w-full max-w-md mx-auto"
      headline="Mobile Development"
      [skills]="['Dart', 'Flutter']"
    />
    <app-skill-card
      class="w-full max-w-md mx-auto"
      headline="Tools & Platforms"
      [skills]="['Git', 'Docker', 'Intellij IDEA', 'VSCode', 'Linux']"
    />
  </div>
</section>
