<section class="flex flex-col gap-7">
  <app-subtitle headline="Skills & Technologies" />
  <div
    class="w-full grid grid-cols-[repeat(auto-fit,_minmax(20rem,_1fr))] lg:grid-cols-2 gap-x-12 gap-y-9 place-items-stretch"
  >
    <app-skill-card
      class="max-w-xs lg:max-w-md mx-auto"
      headline="Back-End Development"
      [skills]="[
        'Java',
        'JavaScript',
        'TypeScript',
        'SQL',
        'Spring Boot',
        'PostgreSQL',
        'MySQL',
        'Firestore',
        'MongoDB'
      ]"
    />
    <app-skill-card
      class="max-w-xs lg:max-w-md mx-auto"
      headline="Front-End Development"
      [skills]="['HTML', 'CSS', 'Angular', 'Tailwind CSS', 'Bootstrap']"
    />
    <app-skill-card
      class="max-w-xs lg:max-w-md mx-auto"
      headline="Mobile Development"
      [skills]="['Dart', 'Flutter']"
    />
    <app-skill-card
      class="max-w-xs lg:max-w-md mx-auto"
      headline="Tools & Platforms"
      [skills]="['Git', 'Docker', 'Intellij IDEA', 'VSCode', 'Linux']"
    />
  </div>
</section>
